
.header{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    height: 100px;
    position: sticky;
    top: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;
}

.memu-icon{
    position: absolute;
    left: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}